@import '../styles/styles.scss';

.cmp-editor {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;

    &.empty {
        justify-content: center;
        .no-notes {
            height: 25vh;
            width: 50vh;
            border: 2px solid rgba($color: $bg-color-light, $alpha: 0.4);
            border-radius: 4px;
            background-color: rgba($color: $bg-color-light, $alpha: 0.4);
            transition: all 0.5s ease;
            display: flex;
            justify-content: center;
            align-items: center;

            .editor-add-note {
                height: 23vh;
                width: 48vh;
                border: 2px dotted rgba($color: $text-primary, $alpha: 0.2);
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 36px;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba($color: $bg-color-light, $alpha: 0.8);
            }
        }
    }

    .editor-area {
        height: 75vh;
        width: 100%;

        .title-area{
            display: flex;
            justify-content: center;
            .title-input {
                width: 75%;
                border: unset;
                background-color: unset;
                line-height: 48px;
                color: $text-primary;
                font-size: 48px;
                border-bottom: 2px solid $bg-color-light;
                transition: all 0.5s ease;

                &:focus {
                    outline: none;
                    border-bottom: 2px solid rgba($color: $text-muted, $alpha: 0.6);
                    background-color: rgba($color: $bg-color-light, $alpha: 0.2);
                }

                &:hover {
                    background-color: rgba($color: $bg-color-light, $alpha: 0.4);
                }
            }
        }

        .input-area {
            margin: 48px 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .display-area {
                width: 75%;
                height: 100%;
                display: flex;

                .content-input {
                    max-height: 100%;
                    width: 100%;
                    border: 2px solid rgba($color: $bg-color-light, $alpha: 0.6);
                    border-radius: 4px;
                    background-color: unset;
                    color: $text-primary;
                    overflow: hidden;
                    resize: unset;
                    font-size: 18px;
                    transition: all 0.5s ease;
                    overflow-y: scroll;
                    padding: 12px;
    
                    &:focus {
                        outline: none;
                        border: 2px solid rgba($color: $text-muted, $alpha: 0.8);
                        background-color: rgba($color: $bg-color-light, $alpha: 0.2);
                    }
    
                    &:hover {
                        background-color: rgba($color: $bg-color-light, $alpha: 0.2);
                    }
                }

                .md-preview {
                    max-height: 100%;
                    width: 100%;
                    margin-left: 12px;
                    padding: 12px;
                    border: 2px solid rgba($color: $bg-color-light, $alpha: 0.6);
                    border-radius: 4px;
                    background-color: unset;
                    color: $text-primary;
                    overflow: hidden;
                    resize: unset;
                    font-size: 18px;
                    transition: all 0.5s ease;

                    &.hidden {
                        display: none;
                    }

                    .md-preview-header {
                        border: 1px dotted rgba($color: $bg-color-light, $alpha: 0.8);
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        padding: 12px;
                        max-width: 220px;
                        border-radius: 4px;
                        background-color: rgba($color: $bg-color-light, $alpha: 0.2);
                    }

                    .md-preview-display {
                        overflow-y: scroll;
                    }
                }
            }

            .control-area {
                width: 75%;
                margin: 24px 0;
                display: flex;
                flex-direction: row;
                align-items: center;

                .mode-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 24px;
                    height: 40px;
                    padding: 0 20px;
                    border-radius: 4px;
                    border: 1px dotted rgba($color: $bg-color-light, $alpha: 0.8);
                    color: $text-muted;
                    transition: all 0.5s ease;

                    &.selected {
                        border: 1px solid $bg-color-light;
                        background-color: $bg-color-light;
                        color: $text-primary;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

    }
}